@model Bookshelf.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Book Details";
}


<h2>Title: @Model.BookTitle</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Book Title:</label>  @Model.BookTitle</h5>
            <h5><label>Published :</label> @Model.Year</h5>
            <h5><label>Author:</label> @Model.Author.FullName</h5>


        </div>
        <h5>Description</h5>
        <p> @Model.Description</p>
    </div>
    <div class="col-md-6">
        <img src=@Model.Image alt=@Model.BookTitle />
    </div>
</div>